body {background-color:CD919E}
h1 {text-align:center; color:#c200c2}
h2 {color:white}
h3 {color:white}
.box {background-color:#def; box-sizing: border-box; width: 80%; padding: 1em; border: 2px #c200c2 solid}